@font-face {
    font-family: "bignoodletitling";
    src: url(font/bignoodletitling.ttf);
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 14px;
    margin: 0;
    height: 100%;
    font-weight: 300;
    color: #696969;
    line-height: 100%;
}

.logo{
    align-items: baseline;
    display: block;
    position: absolute;
    top: -2.8%;
    bottom: auto
}

.logo > a > img {
    margin-top: -18px;
    padding-right: 5px;
    height: 80px;
    

}

.logo > a {
    font-family: "bignoodletitling";
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #696969;
    text-transform: uppercase;
    font-size: 60px;
    line-height: initial;
    text-decoration: none;
    font-weight: bolder;
    
}

.custom_underline, .undertext {
    transition: 0.4s ease;
}

.custom_underline {
    box-shadow: inset 0 -9px 0 #f8f6f6, inset 0 -11px 0 #696969;
}

.hover:hover .custom_underline {
    color: #05c301;
    box-shadow: inset 0 -9px 0 #f8f6f6, inset 0 -11px 0 #05c301;
}

.hover:hover .undertext {
    color: #05c301;
}

.undertext {
    margin-left: 2px;
    margin-top: -8px;
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    display: flex;
    align-items: center;
}


.banner {
    background: url(images/slider.jpg) #696969;
    background-blend-mode: multiply, hard-light;
    min-height: 700px;
    width: 100%;
    text-align: center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #d6d5d5;
    font-family: "bignoodletitling";

}

.topheader {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background: #f8f6f6;
    height: 140px;
}

.scrolldown {
    position: absolute;
    margin-top: 20%;
    left: calc(52.5% - 52px);
}

.scrolldown > p{
    margin-top: 8px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto' sans-serif;
}

h3 {
    font-family: "bignoodletitling";
    font-size: 35px;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-bottom: -8px;
}

.head_white_content>span {
    margin-top: -10px;
    width: 75px;
    height: 2px;
    background: #05c301;
    display: inline-block;
}

.head_white_content {
    padding: 5%;
    text-align: center;
    width: 100%;
}

.head_white_content>p {
    margin-top: -8px;
    padding: 20px 90px 0px;
    color: #696969
}

.advantage > .lnr {
    font-size: 57px;
    font-weight: 50px;
    color: #05c301;
}

.advantage > h5 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: "bignoodletitling" ;
}

.advantage {
    text-align: center;
    background-color: #ebebeb;
    margin: 10px;
    height: 196px;
    padding: 30px;
}

.advantage > .line {
    width: 100px;
    height: 2px;
    background: #05c301;
    display: inline-block;
}

.advantage > p {
    margin-top: 10px;
}

.features {
    background: #171f23;
    text-align: center;
    color: #f3e7e6;
    padding: 60px 0;
    display: block;
}

.head_black_content > h3 {
    text-transform: uppercase;
    color: #f3e7e6;
    font-size: 25px;

}

.head_black_content {
    text-align: center;
    padding: 20px;
}

.head_black_content > span {
    width: 120px;
    height: 2px;
    background: #4f4343;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
}

.aboutus {
    margin-bottom: 100px;
}

.features .lnr {
    font-size: 56px;
    color: #05c301;
}

.features p {
    margin-top: 27px;
    font-size: 14px;
}

.features h5 {
    font-size: 35px;
}

.advantage {
    height: 230px   ;
}