
.step {
    background-color: blue;
    color: blueviolet;
    width: 200px;
    padding: 3px;

    font-size: 20px;
    line-height: 1.5;

}

.ihy {
    width: 300px;
    height: 300px;
}

.ehy {
    width: 250px;
    height: 400px;
}

.thy {
    width: 340px;
    height: 700px;
}

#rt {
    opacity: 0;
}

#rt.active {
    opacity: 1;
}
body {
    background: url("https://sun9-55.userapi.com/f_eImaMVL-zVNeB_TZTG9ZJJDko11lqmfImRRA/8mYfedn5flQ.jpg");
}

#kickflip {
    font-size: 50px;
    color: chartreuse;
}

#govno {
    font-size: 50px;
    font-weight: bold;
    color: rgb(184, 51, 51);
    box-shadow: -5px 0px 25px 22px #0eefd1;
    background-color: rgba(58, 247, 1, 0.5);
}

#mocha {
    font-size: 80px;
    font-weight: bolder;
    color: crimson;
    box-shadow: -5px 0px 25px 22px #EF0ED9;
    background-color: rgba(247, 1, 193, 0.5);
}

#zalupa {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(10, 236, 252);
    box-shadow: -5px 0px 25px 22px #ffee00;
    background-color: rgba(247, 1, 1, 0.5);
}

#bigad {
    box-shadow: -5px 0px 25px 22px #2bff00;
    background-color: rgba(247, 1, 235, 0.5);
}

#bigad2 {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(10, 236, 252);
    box-shadow: -5px 0px 25px 22px #ffee00;
    background-color: rgba(247, 1, 1, 0.5);
}
>>>>>>> 5b2d938 (MOCHAGOVNO)
