body {
    background: radial-gradient(rgb(238, 69, 79), rgb(96, 39, 299));
}
.step {
    background-color: blue;
    color: blueviolet;
    width: 200px;
    padding: 3px;

    font-size: 20px;
    line-height: 1.5;

}

.ihy {
    width: 300px;
    height: 300px;
}

.ehy {
    width: 250px;
    height: 400px;
}

.thy {
    width: 340px;
    height: 700px;
}

#rt {
    opacity: 0;
}

#rt.active {
    opacity: 1;
}
