.cent {
    display: flex;
    margin-top: 22%;
    margin-left: 32%;
    width: 600px;
    height: 66px;
    justify-content: center;
    border: thick double #7f32ce;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding-top: 2%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
img {
    width: 200px;
    margin-left: 60%;
    position: absolute;
    top: 500px
}